<!-- 共通ヘッダー用HTML -->
<header>
        <nav class="navi-header-bar">
                <p class="navi-header-title">
                        <a href="/index.html" class="navi-header-title-link">
                                ヤシチの技術ノートと趣味ログ
                        </a>
                </p>
                <ul class="navi-menu">
                        <li class="navi-menu-item">
                                <a href="/index.html" class="navi-header-menu-item-link">
                                        HOME
                                </a>
                        </li>
                        <li class="navi-menu-item">
                                <a href="/pages/frontend/index.html" class="navi-header-menu-item-link">
                                        フロントエンド
                                </a>
                        </li>
                        <li class="navi-menu-item">
                                <a href="/pages/dotnet/index.html" class="navi-header-menu-item-link">
                                        .NET
                                </a>
                        </li>
                        <li class="navi-menu-item">
                                <a href="/pages/pc/index.html" class="navi-header-menu-item-link">
                                        自作PC
                                </a>
                        </li>
                        <li class="navi-menu-item">
                                <a href="/pages/hoby/index.html" class="navi-header-menu-item-link">
                                        趣味
                                </a>
                        </li>
                </ul>
        </nav>
        <section class="header-section">
                <h1 class="header-title"><b>ヤシチの技術ノートと趣味ログ</b></h1>
                <p class="header-p">IT/自作PC/ゲーム・映画の記録置き場</p>
                <p>IT技術ノート</p>
                <p>自作PCの記録</p>
                <p>ゲーム・映画など趣味の記録</p>
        </section>
</header>