@charset "UTF-8";
header {
    background-color: #1e90ff;
    background: linear-gradient(90deg,#1e90ff,#006fd6);
    color: #ffffff;
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 40px;
}
.header-section {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.header-title {
    font-size: 60px;
    line-height: 72px;
    padding-bottom: 24px;
}
.header-p {
    font-size: 22px;
    line-height: 33px;
}
/* body {
    background-color: white;
}

h1 {
    color: cyan;
    font-size: 100px;
} */